- if page.parent
  = partial '/layouts/breadcrumb', :locals => { :page => page.parent, :as_select => as_select }
  - if as_select
    %option{:value => ['/', page.path ].join('')}= page.data.title
  - else
    %li
      %a{:href => ['/', page.path ].join('')}= page.data.title
- else
  - if as_select
    %option(value="/") Home
  - else
    %li
      %a(href='/') Home