%ul
  - pages.each do |page|
    %li
      = link_to page.data.title, ['/', page.path].join('')
      - if page.children.length > 0
        = partial '/layouts/outline', :locals => { :pages => page.children.sort_by(&:path) }